.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #171717;
  margin: 7rem 0rem 2rem 0rem;
}

.comicsContainer {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.fetchComicsBtn {
  margin: 2rem 0rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #f1f1f1;
  border: none;
  outline: none;
  border-radius: 0.125rem;
  cursor: pointer;
  border-bottom: 2px solid #f1f1f1;
  background-color: transparent;
}
